<h2>Log in</h2>
<form method="POST" actions="/users/login">
Username: <input type="text" name="username"><br>
Password: <input type="text" name="password"><br>
<input type="submit" id="submit">
</form>