<h1>New user sign up here</h1>
<form method="POST" action="/signup">
Username: <input type="text" name="username"><br>
Email: <input type="email" name="email"><br>
Password: <input type="password" name="password"><br>
<input type="submit" value="Signup">
</form>