<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <%= yield %>
      <br><br>
      <a href="/tweets/new">Post new tweet </a> |
      <a href="/tweets">View tweets </a> | 

      <a href="/login">Login </a> | 

      <a href="/signup">Signup</a> | 

      <a href="/logout">Logout</a>
     
    </div>

  </body>
</html>
